<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Contact.css">
    <title>Document</title>
</head>

<body>
    <div>
        <ul><a href="/">ACCUEIL</a></ul>
        <ul><a href="/Service">SERVICES</a></ul>
        <ul><a href="/Contact">CONTACT</a></ul>
    </div>
    <div>
        <h1>contact</h1>    
    </div>
    <form action="" class="vend">
        <label for="">First Name</label><br>
        <input type="text"><br>
        <br>
        <label for="">Last Name</label><br>
        <input type="text"><br>
        <br>
        <label for="">Email</label><br>
        <input type="text"><br>
        <br>
        <label for="">Message</label><br>
        <textarea name="" id="" cols="30" rows="10"></textarea><br>
        <button>enregistrer</button><br>
        <p>-------------------------------------------------------------------------------</p>
    </form>
</body>

</html>