<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div>
        <ul><a href="/">ACCUEIL</a></ul>
        <ul><a href="/Service">SERVICES</a></ul>
        <ul><a href="/Contact">CONTACT</a></ul>

    </div>
    <h1>service</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum temporibus voluptatibus et magni, recusandae
        veniam cumque itaque iusto doloremque distinctio dolorem, numquam dicta voluptatum nostrum ipsa corporis. Dolor,
        deserunt saepe.
        Voluptates rerum illum explicabo fugiat cumque repudiandae tenetur distinctio reprehenderit consequatur, facere
        ipsum iste provident nobis sequi tempora. Saepe ipsam recusandae alias sunt quibusdam quas dolores repudiandae
        ullam distinctio dolor.
        Id eius dolorem debitis tempore officia! Aliquid soluta inventore, ad eos perspiciatis repellat deserunt, at
        reiciendis optio repellendus dolorem fugiat dolore quo! Officia qui, vel incidunt id quibusdam sint reiciendis.
        Qui repellendus mollitia a, ad blanditiis explicabo voluptate amet consequuntur, voluptatem cumque distinctio
        consectetur quos assumenda pariatur fugiat modi maiores odit quia magnam omnis? Omnis debitis architecto numquam
        ipsum pariatur.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo sint delectus ut distinctio quam repellendus
        similique voluptatibus dolor. Quia voluptatem ad necessitatibus totam delectus inventore sapiente quam
        voluptates saepe sequi.
        Quos aliquam eligendi minus atque repudiandae consequuntur placeat expedita tenetur, nobis, assumenda, quisquam
        neque laborum. In fugit nisi fugiat, quidem assumenda provident eius odit ipsum consequuntur quos, nesciunt enim
        atque.
        Quisquam, at soluta, officiis quam nemo deleniti hic beatae, consectetur voluptatibus inventore ex. Quisquam
        ratione explicabo, soluta impedit molestias nostrum sapiente animi recusandae accusamus excepturi incidunt
        magnam, aspernatur tempora asperiores.
        Ad dolorem sapiente facere eaque vel eligendi ratione consequatur iure quos, a reprehenderit quo perferendis.
        Quaerat, voluptates recusandae. Nulla itaque cupiditate commodi dignissimos expedita omnis, exercitationem
        incidunt optio labore fugit?
        Minima, laborum perferendis. Hic eius dignissimos ipsa reiciendis laboriosam, omnis praesentium eos excepturi
        autem ipsam. Vitae earum ea quos, perferendis, obcaecati iure totam maxime ab animi libero, voluptatum deserunt
        natus.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit doloremque assumenda hic autem praesentium deleniti
        molestias, voluptatum voluptates! Accusamus itaque inventore aut magnam dignissimos tempora error sint
        doloremque suscipit! Molestiae!
        Atque explicabo excepturi in, doloremque natus id incidunt ipsa nesciunt aperiam praesentium corporis iusto
        molestiae voluptates ad, beatae veritatis. Blanditiis distinctio pariatur repudiandae debitis, alias doloribus
        similique ipsa cumque dolor?
        Nihil praesentium labore corrupti, aperiam ipsam ducimus officia ullam aliquid, magnam ipsum aut architecto
        provident nulla iste molestiae temporibus quibusdam placeat! Eligendi dolorem qui, cupiditate veritatis
        praesentium modi consectetur? Quod?
        Adipisci consequatur aut nemo saepe optio atque ut at quam veritatis itaque beatae, ea labore nam inventore
        natus ullam harum earum consectetur. Quo expedita numquam tenetur quisquam reiciendis. Numquam, deserunt?
        Velit enim fugit optio ab corrupti, laudantium aspernatur provident dolore voluptates vitae quia est at. Dicta,
        repellendus provident veritatis hic molestiae corporis a reiciendis optio accusantium, qui incidunt, tempore
        adipisci?
        Minima quis laudantium suscipit quod sunt exercitationem laborum? Doloremque labore est officia adipisci sunt
        atque molestiae necessitatibus saepe vitae cum natus a hic, ab nobis omnis reprehenderit tempora tenetur?
        Assumenda?</p>
</body>

</html>